@layer base {
	:root {
		--primary-hue: 329;
		--primary-saturation: 80%;

		--primary-50: var(--primary-hue), var(--primary-saturation), 95%;
		--primary-100: var(--primary-hue), var(--primary-saturation), 90%;
		--primary-200: var(--primary-hue), var(--primary-saturation), 85%;
		--primary-300: var(--primary-hue), var(--primary-saturation), 80%;
		--primary-400: var(--primary-hue), var(--primary-saturation), 70%;
		--primary-500: var(--primary-hue), var(--primary-saturation), 60%;
		--primary-600: var(--primary-hue), var(--primary-saturation), 50%;
		--primary-700: var(--primary-hue), var(--primary-saturation), 40%;
		--primary-800: var(--primary-hue), var(--primary-saturation), 30%;
		--primary-900: var(--primary-hue), var(--primary-saturation), 20%;
	}
}
